.list-map{
    margin: 0 auto;
    width: 900px;
}

.list-search{
    margin-top: 20px;
}
.search-form{
    background-color: white;
    width: 940px;
    margin: 0px auto 45px auto;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border: 2px solid #263343;
    border-radius: 80px;
    display: flex;
}
.search-icon{
    display: block;
    color: black;
    width: 50px;
    font-size: 25px;
    margin: 0 0 0 40px;
}

.search-text {
    width: 550px;
    border: none;
    outline: none;
    float: left;
    font-size: 1.1rem;
    line-height: 30px;
}
.search-btn {
    width: 200px;
    border: none;
    background-color: #263343;
    color: white;
    line-height: 52px;
    border-radius: 80px;
    font-size: 18px;
}

