.list-area{
    background-color: rgb(255, 255, 255);
    height: 1200px;
 }
 .list-box{
     margin: 0 auto;

     width: 75%;
 }
 .list-search{
     width: 70%;
     margin: 0 auto;
 }
 .list-list{
    width: 70%;
    margin: 0 auto;
 }
 .list-ch{

 }
 .list-map{
    width: 70%;
    margin: 0 auto;
    height: 500px;
 }
 .kakao-map{
    height: 500px;
}
.list-view{
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 15px;
    padding: 20px 10px 15px 20px;
    margin: 0 auto;
}
.list-left{
    font-size: 18px;
    width: 80%;
}
.list-right{
    width: 20%;
    font-size: 30px;
    padding-left: 80px;
    
}
.list-store{
    color: black;
    padding-bottom: 5px;
    font-weight: 600;
}
.list-Link{
    color: black;
}
.list-address{
    color: #66666e;
}
.list-time{
    color: #66666e;
}
.list-sit{
    color: #66666e;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 30px;
}

@media screen and (min-width : 321px) and (max-width: 768px) {
    .list-area{
     }
    .list-box{
        margin: 0 auto;
        width: 100%;
   }
   
    .list-search{
        width: 100%;
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
    }
    .list-map{
        width: 100%;
        margin: 0 auto;
        height: 300px;
    }
    .kakao-map{
        height: 300px;
    }
   .list-list{
        width: 100%;
        margin: 0px;
    }
    .list-view{
        border-bottom: 1px solid #cfcfcf;
        display: flex;
        flex-direction: column;
    }
    .list-left{
        font-size: 18px;
        width: 100%;
    }
    .list-right{
        font-size: 30px;
        width: 100%;
        padding: 0px;
    }
}