
.search-sclist{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
}
.search-form{
    background-color: white;
    /* margin: 0px auto 45px auto; */
    align-items: center;
    justify-content: space-between;
    height: 30px;
    /* border-radius: 80px; */
    display: flex;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
    height: 50px;
    
}
.search-left{
    width: 87%;
    display: flex;
}
.search-right{
    width: 13%;
    height: 50px;
    border-left: 1px solid #cfcfcf;
    display: flex;
    justify-content: center;
}
.search-icon{
    display: block;
    color: black;
    font-size: 30px;
    /* margin: 10px 5px 0 25px; */
}

.search-text {
    border: none;
    outline: none;
    float: left;
    line-height: 30px;
    font-size: 20px;
    padding: 0px 0px 0px 15px;
}
.search-btn {
    border: none;
    padding: 0;
    background-color: white;
    line-height: 30px;
    font-family: FontAwesome;
}
@media screen {
    .search-form{
        background-color: white;
        height: 30px;
        /* border-radius: 80px; */
        margin: 0 auto;
        border: 1px solid #cfcfcf;
        height: 50px;
        width: 100%;
    }
}